@media (min-width: @md-breakpoint) {
  .homepage__heading-section {
    display: flex;
    flex-wrap: wrap;
  }

  .movie-list__container {
    width: 100vw;
  }

  .homepage__heading {
    font-size: 2em;
  }

  .homepage__widget-section {
    display: initial;
    flex: 1;
  }

  .homepage__title-section {
    flex: 1.5;
    margin-top: 0;
  }
}
