.movie-item__marker {
  border: solid 1px;
  padding: 3px;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 20px;
}
.movie-item__marker--seen-false {
  color: grey;
  background-color: white;
}
.movie-item__marker--seen-true {
  color: green;
  border: solid 3px;
  background-color: lightgreen;
}
