body {
  margin: 0;
}

#app {
  color: brown;
}

h1 {
  color: blue;
}

div.progress-bar {
  height: 50px;
  margin: 20px;
  border: solid grey;
  display: flex
}

div.progress-bar > div.progress-bar-completed {
  background: green;
}

div.progress-bar > div.progress-bar-remaining {
  background:white;
  flex: 1;
}

li.movie-list-item {
  width: 200px;
  height: 282px;
  border: 5px;
  border-style: solid;
  border-color: gold;
  padding: 5px;
  margin: 20px 20px;
  display: inline-block;
  vertical-align: top;
}

ul.movie-list {
  height: 100%;
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
}

span.movie-list-item-title {
  height: 100%;
  color:  black;
}

div.movie-page-container {
  display: flex;
}

div.movie-details-section {
  flex: 2;
  padding: 20px;
}

div.review-section {
  flex: 1;
}
form > input {
  display: block;
}

button.highlighted {
  border: 2px solid gold;
}

div.header {
  background-color: grey;
  height: 50px;
  padding: 5px 5px 0 5px;
}

div.header > a {
  color: white;
}

div.header > a.home-header-link {
  font-size: 2em;
}

div.header > a.about-header-link {
  float: right;
}
