#app {
  color: brown;
}

h1 {
  color: blue;
}

.seen-select {
  color: green;
  font-weight: bold;
}

li.movie-list-item {
  border: 5px;
  border-style: solid;
  border-color: gold;
  padding: 5px;
  margin: 20px;
}

ul.movie-list {
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
}
