#app {
  color: brown;
}

h1 {
  color: blue;
}

li.movie-list-item {
  width: 200px;
  height: 282px;
  border: 5px;
  border-style: solid;
  border-color: gold;
  padding: 5px;
  margin: 20px 20px;
  display: inline-block;
  vertical-align: top;
}

ul.movie-list {
  height: 100%;
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
}

span.movie-list-item-title {
  height: 100%;
  color:  black;
}
