<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheBest.Pictures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if production}}
      <link rel="stylesheet" href="/style.css">
    {{/if}}
  </head>
  <body
    data-initial-state={{initialState}}
  >
    <div id="app"></div>
    <script>
      window._initialState = JSON.parse(document.getElementsByTagName('body')[0].dataset.initialState)
    </script>
    <script src="/bundle.js"></script>
  </body>
</html>