.movie-list__movie-item {
  transition-property: height, width;
  transition-duration: 0.25s;
  width: 200px;
  height: 282px;
  border: 5px;
  border-style: solid;
  border-color: gold;
  background-color: lightgray;
  padding: 5px;
  margin: 20px 20px;
  display: flex;
}

.movie-list__movie-item:hover {
  width: 210px;
  height: 296px;
}

.movie-list__title {
  height: 100%;
  color: black;
  flex: 4;
}
