.movie-list_container {
  margin: 20px 0;
}

.movie-list {
  height: 100%;
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-list_movie-item {
  width: 200px;
  height: 282px;
  border: 5px;
  border-style: solid;
  border-color: gold;
  background-color: lightgray;
  padding: 5px;
  margin: 20px 20px;
}

.movie-list_title {
  height: 100%;
  color: black;
}

.next-up {
  margin: 10px;
}

.next-up_title {
  font-size: 1.5em;
}

.next-up_movie-item {
  border: 5px;
  border-style: solid;
  border-color: gold;
  margin: 0 60px;
  height: 100px;
}

.movie-list_filler {
  width: 200px;
  height: 0;
  margin: 0 20px;
}
