.header {
  background-color: grey;
  height: 50px;
  padding: 5px 5px 0 5px;
  position: fixed;
  width: calc(100% - 10px);
  z-index: 3;
  top: 0px;
}

.header__link {
  color: white;
}

.header_home-link {
  font-size: 1.7em;
}

.header_link-container {
  float: right;
  text-align: right;
  a {
    display: block;
  }
}

@media (min-width: @xs-breakpoint) {
  .header_home-link {
    font-size: 2em;
  }
}
