.progress-bar {
  height: 50px;
  margin: 20px;
  border: solid grey;
  display: flex;
}

.progress-bar_filler--completed {
  background: green;
}

.progress-bar_filler--remaining {
  background: white;
  flex: 1;
}
